[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-environ = "*"
whitenoise = "*"
django-foundation-formtags = "*"
django-braces = "*"
django-model-utils = "*"
Pillow = "*"
"argon2_cffi" = "*"
django-allauth = "*"
awesome-slugify = "*"
pytz = "*"
django-redis = "*"
redis = "*"
rcssmin = "*"
django_compressor = "*"
django-libsass = "*"
rules = "*"
django-rest-framework-rules = "*"
django-filter = "*"
coreapi = "*"
wheel = "*"
gevent = "*"
"boto3" = "*"
django-storages = "*"
django-anymail = "*"
raven = "*"
django-fiction-outlines = "*"
django-fiction-outlines-api = "*"
python-dateutil = "*"
django-avatar = "*"
django-q = {extras = ["sentry"]}
"psycopg2" = "*"
pwned-passwords-django = "*"
django-registration = {git = "https://github.com/ubernostrum/django-registration.git", editable = true, ref = "f957d2824cf77820287da2993fca44d6445c592d"}
waitress = "*"
django-cookie-law = "*"

[dev-packages]
coverage = "*"
django_coverage_plugin = "*"
Sphinx = "*"
django-extensions = "*"
Werkzeug = "*"
django-test-plus = "*"
factory_boy = "*"
django-debug-toolbar = "*"
ipdb = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-xdist = "*"
pylint = "*"
"flake8" = "*"
sphinx-autobuild = "*"
sphinx_rtd_theme = "*"
python-gettext = "*"

[pipenv]
keep_outdated = true
