[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-environ = "*"
whitenoise = "*"
django-foundation-formtags = "*"
django-braces = "*"
django-model-utils = "*"
pillow = "*"
"argon2-cffi" = "*"
django-allauth = "*"
awesome-slugify = "*"
pytz = "*"
django-redis = "*"
redis = "*"
rcssmin = "*"
django-compressor = "*"
django-libsass = "*"
rules = "*"
django-rest-framework-rules = "*"
django-filter = "*"
coreapi = "*"
wheel = "*"
gevent = "*"
gunicorn = "*"
"boto3" = "*"
django-storages = "*"
django-anymail = "*"
raven = "*"
"psycopg2-binary" = "*"
django-fiction-outlines = "*"
django-fiction-outlines-api = "*"
python-dateutil = "*"
django-q = "*"


[dev-packages]

coverage = "*"
django-coverage-plugin = "*"
sphinx = "*"
django-extensions = "*"
werkzeug = "*"
django-test-plus = "*"
factory-boy = "*"
django-debug-toolbar = "*"
ipdb = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-xdist = "*"
pylint = "*"
"flake8" = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"


[pipenv]

keep_outdated = true
